.header {
    z-index: 1;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
  }
  
  .searchForm {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* padding: 0 20px;
    max-width: 640px; */
    margin: 0 auto;
    }
  
  .input {
    width: 400px;
    outline: none;
    margin: 0 auto;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #d0e8f0;
    /* transition: border 0.2s ease; */
    border: 1px solid #4390aa;
  }
  
  .input:hover {
    border: 1px solid #4b9bb6;
  }
  
  .input:focus {
    border: 1px solid #53acca;
  }
  
  
  .searchBtn {
    display: block;
  width: 150px;
  border-radius: 15px;
  border: none;
  background-color: beige;
  cursor: pointer;
  }
  
  .searchBtn:hover {
    background-color: rgb(246, 246, 178);
  }
  
  .toaster {
    background-color: #6d6d6d;
    border: 1px solid #757575;
    padding: 8px;
    color: #bababa;
  }
  